*{
    -bgcolor: #2D3D47;
    -couleur1: #4D6D7D;
    -couleur2: #165c84;
}

.bords{
    -fx-background-color: -bgcolor;
}

.zoneHaut{
    -fx-alignment: center;
}

.button{
    -fx-background-color: -couleur1;
}

.label{
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-text-fill: white;
}

.labelMax{
    -fx-opacity: 0.5;
    -fx-font-size: 80%;
}

#barrePV .bar{
    -fx-padding: 1px;
    -fx-background-insets: 0;
}